{% extends 'base.html' %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Об авторе</h1>
  <main>
    <div>
      <ul>
        <section>
          <p>
            Автор - Айса Мацакова.
          </p>
        </section>
        <section>
          <p>
            По профессии автор бухгалтер и аудитор, действующий.
            Автор решил попробовать освоить новую профессию в абсолютно новой сфере деятельности.
            Путь привел его в Практикум, на специальность Python-разработчик. Очень сложно постигать
            новое, но автор не сдается.
          </p>
        </section>
        <section>
          <p>
            Интересы довольно широкие от ювелирного дела до языков.
            Занятие кендо, изучение английского и французского языков. Мечта - выучить китайский язык. Хотя бы разговорный.
          </p>
        </section>
        <section>
          <p>
            Блог создан в ноябре сего {{ year }} года.
            Темы для обсуждения любые, кроме оскорбительных и вызывающих неприязнь и рознь.
          </p>
        </section>
        <section>
          <p>
            Контакты для связи:
          </p>
        </section>
      </ul>
    </div>
  </main> 
{% endblock %}
